  <%= form_for [current_user,@product,@product_comment],remote:true, html: { class: "form product_comment_form" } do |f| %>
    <table>
      <tr>
        <td>
          <%=user_image_profile(current_user,size:"small",border:"circle")%>
        </td>
        <td width="100%">
          <%= f.text_field :content,placeholder:"Have a comment...",
          class: "form-control",
          id:"product_comments_id-#{@product.id}" %>
        </td>
      </tr>
    </table>    
    <%= f.hidden_field :product_id,value: @product.id %>
    <%= f.hidden_field :user_id,value: current_user.id %>
  <%end%>