<li>
  <%= form_for @product_comment,remote:true, html: { class: "form" } do |f| %>
    <%=image_tag(current_user.image? ? current_user.image.url : 
              "profile_default.png",class:"user_small_image img-circle")%>
    <%= f.text_field :content,placeholder:"Have a comment...",
    class: "form-control",id:"product_comments_id-#{@product_comment.product.id}" %>
    <%= f.hidden_field :product_id %>
    <%= f.hidden_field :user_id,value: current_user.id %>
  <%end%>
</li>