<div class="col-md-12 product_comments" 
  id="user-comment_products-<%=product_comment.id%>">    
    <table>
      <tr>
        <td >
          <%=user_image_profile(product_comment.user,size:"small",border:"circle")%>
        </td>
          <td class="comment_info"><big><%=product_comment.user.name%></big></td>
          <td class="comment_info"><%=product_comment.content%></td>          
          <%if current_user? product_comment.user.id%>
            <td class="comment_info">
              <%= link_to "Edit", edit_user_product_product_comment_path(product_comment.product.user,product_comment.product,
                product_comment),
              id:"btn-edit-#{product_comment.id}",remote:true%>
            </td>
            <td class="comment_info">
              <%= link_to "delete", user_product_product_comment_path(product_comment.product.user,product_comment.product,
                product_comment), method: :delete,
                data: { confirm: "You sure?" },remote:true %>
            </td>
          <%end%>
          <td class="comment_info"><%=time_ago_in_words(product_comment.created_at)%> ago</td>
        </tr>
    </table>
    <hr>
</div>
<script type="text/javascript">
  $("#btn-edit-<%=product_comment.id%>").click(function(){
    $("#user-comment_products-<%=product_comment.id%>").hide();
  });
</script>