    <div>
      <%= link_to image_tag(message.sender.image? ? message.sender.image.url : 
              "profile_default.png",class:"user_follow_image img-circle"),user_message_path(message.sender,message)%>
      <%= link_to message.sender.name,user_message_path(message.sender,message)%>
      [<%= message.subject%>]
      [<%= message.content%>]
      [<%= message.created_at%>]
      [<%= message.unread%>]
    </div>