<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
<ul class="nav nav-tabs" id="myTab-new">          
          <li role="presentation" class ="send">
            <%=link_to "My Message", user_messages_path(current_user)%>
          </li>
          <li role="presentation" class="active new"><a href="#" class="btn-user-new-sms">
          New Message</a></li>
</ul>

<div class="col-md-4">
  <%= form_for([current_user,@message]) do |f| %>  
  <div class="field">
    <div class="form-group">
      <%= f.label :reciver_name%>
      <%= f.text_field :reciver_name,class: "form-control reciver_autocomplete",
      data:{autocomplete_source: user_recivers_path(current_user)} %>
    </div>
    
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, class: "form-control" %>
    </div> 
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Send", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>
  </div>
</div>