  <h1 class="page-header"><%= header %></h1>
  <br />
  <%= form_for @user, html: { class: "form" } do |f| %>
    <%= render "shared/error_message", object: f.object %>
    <div class="form-group"><%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %></div>
    
    <div class="form-group"><%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %></div>

    <div class="form-group"><%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %></div>

    <div class="form-group"><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %></div>
    
    <%= f.fields_for :images do |builder| %>
      <%= builder.hidden_field :path,value:"url.png",class:"" %>
    <% end %>
    <div><%= f.submit label, class: "btn btn-primary form-control" %></div>

  <% end %>  