<% provide :title, "Users" %> 
    <div class="">    
      <div>  
        <div id="cover_slide" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
          <%3.times do |n|%>
            <li data-target="#cover_slide" data-slide-to="<%=n%>" class="<%=n!=1 ? "" : "active"%>"></li>            
          <%end%>
          </ol>
          <div class="carousel-inner">
            <%3.times do |n|%>
              <div class="item <%=n!=1 ? "" : "active"%>">                
                <%=user_image_cover(@user,size:"800X300")%>
              </div>
            <%end%>              
          </div>

          <a class="left carousel-control" href="#cover_slide" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#cover_slide" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>  
      </div>
        <div class="pull-right">
          <%= render "follow_form" if user_signed_in? %>          
        </div>
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <% if @products.any? %>            
              <div class="">
                <%unless params[:search].blank?%>
                  <h3>Search Result</h3>
                <%end%>
                <%= render @products %>
              </div>
              <%= will_paginate @products %>
            <% end %>
          </div>
        </div>
        <div class="col-md-3">
          Suggest Shop
        </div>      
    </div>
  </div>
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>