<% provide :title, "Users" %> 
    <div class="row">
      <div class=".col-md-9 .col-md-push-3">
          <%if current_user? @user.id%>            
              <%=link_to user_image_cover(@user),edit_user_path(@user),remote:true%>
          <%else%>
            <%=user_image_cover(@user)%>
          <%end%>

        <div class="pull-right">
          <%= render "follow_form" if user_signed_in? %>          
        </div>
      </div>
      <aside class="col-md-2 user-profile-info">
          <%if current_user? @user.id%>            
            <%=link_to user_image_profile(@user),edit_user_path(@user),remote:true%>
          <%else%>
            <%=user_image_profile @user%>
          <%end%>              
        <div><b><%=link_to @user.name,"#" %></b></div>
        <div><%=link_to @user.email,"#" %></div>
        <span><%= pluralize(@user.products.count, "products") %></span>
        <section class="stats">
          <%= render "shared/stats" %>
        </section >         
      </aside>
      <div class="col-md-7">
        <div class="col-md-12">
          <% if @user.products.any? %>            
            <ol class="products">
              <%= render @products %>
            </ol>
            <%= will_paginate @products %>
          <% end %>
        </div>
      </div>

      <div class="col-md-3">
          Suggest Shop
      </div>
    </div>
