<li id="product-<%= product.id %>" class="products">  
  <%=image_tag(product.user.image? ? product.user.image.url : 
              "profile_default.png",class:"user_small_image img-circle")%>
  <span class="user"><%= link_to product.user.name, product.user %></span>
  <span class="content"><%= product.name %></span>
  <span class="content"><%= product.price %></span>
  <span class="content"><%= product.description %></span>
  <%= image_tag product.picture.url if product.picture? %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(product.created_at) %> ago.
    <% if current_user? product.user.id %>      
      <%= link_to "update", edit_product_path(product),
      :data=>{target:"#productUpdateModal-#{product.id}",toggle:"modal"}%>
      <%= link_to " | delete", product, method: :delete,
                                       data: { confirm: "You sure?" } %>

      <div>
        <%= render "shared/update_product", product:product%>
      </div>
    <% end %>
    <%if user_signed_in?%>
      <div >        
        <%= render "products/user_liked",product:product%>
      </div>
      <%@product_comments=product.product_comments%>
      <table id="product_comments-<%=product.id%>">      
      <%=render partial: @product_comments%>
      </table>
      <%@product_comment=product.product_comments.build%>
      <%=render "product_comments/form"%>
    <%end%>
  </span>
</li>
