<% form_id = "store_#{@product.id}_rating" %>
<% product_rate= @product.product_rates.find_by(user_id:current_user.id)%>
<% product_rate= ProductRate.new if product_rate.nil?%>
  <%= form_for product_rate, :html => {:id => form_id, :class => "star_rating_form"} do |f| %>
    <%= f.hidden_field :product_id, :value => @product.id %>        
    <%= f.hidden_field :user_id, :value => current_user.id %>        
    <%= f.hidden_field :rate, :id => form_id + "_stars" %>
  <% end %>
  <%=@product.id%>
<ul class="rating">
  <% (1..5).each do |i| %>
    <a href="#rate <%=i%>"><li class="rating_star <%="on" if i<= product_rate.rate%>" id="<%= form_id %>_<%= i %>" data-stars="<%= i %>" data-form-id="<%= form_id %>"></li>
    </a>
  <% end %>
</ul>
<script type="text/javascript">
$(function() {
  $('.rating_star').click(function() {
    var star = $(this);
    var form_id = star.attr("data-form-id");
    var stars = star.attr("data-stars");
    $('#' + form_id + '_stars').val(stars);

    $.ajax({
      type: "post",
      url: $('#' + form_id).attr('action') + '.json',
      data: $('#' + form_id).serialize(),
      success: function(response){
        console.log(response);
        update_stars();
        if(response["avg_rating"]){
          $('#average_rating').text(response["avg_rating"]);
          }
        }
      })
  });        
});

function update_stars(){
  $('.star_rating_form').each(function() {
    var form_id = $(this).attr('id');
    set_stars(form_id, $('#' + form_id + '_stars').val());
  });
}

function set_stars(form_id, stars) {
  for(i = 1; i <= 5; i++){
    if(i <= stars){
      $('#' + form_id + '_' + i).addClass("on");
    } else {
      $('#' + form_id + '_' + i).removeClass("on");
    }
  }
}
</script>