<header class = "container">
  <div class = "left_head">
    <%if user_signed_in?%>
      <%= link_to "Home",root_path%>
      <%= link_to "Notification",root_path%>
      <%= link_to "Message",root_path%>
      <%= link_to "Shops",users_path%>
    <%else%>
      <%= link_to "Home",root_path%>
      <%= link_to "Shops",users_path%>
    <%end%>

  </div>
  <div class = "right_head">
    <%if user_signed_in?%>
      <%= link_to "Welcome #{current_user.name}",current_user%> | 
      <%= link_to "Sign Out",signout_path%>
    <%else%>
      <%= link_to "Sign In",signin_path%> | <%= link_to "Sign Up",signup_path%>
    <%end%>
  </div>
</header>